<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Handler" value="C:\Users\Doreen\Documents\test\from1;C:\Users\Doreen\Documents\test\from2"/>
    <!--add key="OutputDir" value="C:\Users\Doreen\source\repos\ImageService\ImageServiceWeb\to"/-->
    <add key="OutputDir" value="C:\Users\Doreen\Documents\test\to"/>
    <add key="SourceName" value="ImageServiceSource"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key ="ThumbnailSize"  value ="120"/>
  </appSettings>
</configuration>